.content-container .content-left .content-left-main img {
    width: 100%;
    height: 300px;
    aspect-ratio: 16 / 9;
    object-fit: cover;
}


.content-container .content-left .content-sub .image-large {
    height: 200px;
    width: 100%;
    max-width: 1024px;
    object-fit: cover;
}

.content-container .content-left .content-sub .image-small {
    height: 200px;
    width: 100%;
    max-width: 1024px;
    object-fit: cover;
}


.content-container .content-right {
    width: 300px;
}

.content-container .content-right .content-menu {
    padding: 10px;
}

.content-container .content-right .content-menu .content-menu-group .content-menu-header {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: #fff;

}

.content-container .content-right .content-menu .content-menu-group .content-menu-header,
.content-container .content-right .content-menu .content-menu-group .menu-item-group .menu-item {
    border: 1px solid #cbcbcb;
    padding: 10px;
    border-radius: 1px;
}

.content-container .content-right .content-menu .content-menu-group .content-menu-header .content-menu-icon {
    max-width: 25px;
}

.content-container .content-right .content-menu .content-menu-group .menu-item-group {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border: 1px solid #cbcbcb;
    padding: 10px;
    border-radius: 5px;
    flex-direction: column;
    transition: height 0.7s ease;
    overflow: hidden;
}

.content-container .content-right .content-menu .content-menu-group .menu-item-group .menu-item {
    width: 100%;
    background-color: #fafafa;
    color: #333;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.content-container .content-right .content-menu .content-menu-group .menu-item-group .menu-item:hover {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
}