/* Main Class*/
* {
    box-sizing: border-box;
    font-family: Verdana;
    font-size: 9pt;
}

.container {
    width: 100%;
    padding: 15px;
    margin-right: auto;
    margin-left: auto;
}

/*Loading*/
.loading-container {
    display: table;
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 9999999;
    background-color: #0077b6;
}

    .loading-container .loading {
        display: table-cell;
        text-align: center;
        vertical-align: middle;
    }


.lds-hourglass {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}

    .lds-hourglass:after {
        content: " ";
        display: block;
        border-radius: 50%;
        width: 0;
        height: 0;
        margin: 8px;
        box-sizing: border-box;
        border: 32px solid #fff;
        border-color: #fff transparent #fff transparent;
        animation: lds-hourglass 1.2s infinite;
    }

@keyframes lds-hourglass {
    0% {
        transform: rotate(0);
        animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    }

    50% {
        transform: rotate(900deg);
        animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }

    100% {
        transform: rotate(1800deg);
    }
}

/* Flex Class */
.center-div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.d-flex {
    display: flex !important;
}

.justify-content-center {
    justify-content: center !important;
}

.align-items-center {
    align-items: center !important;
}

.justify-space-between {
    justify-content: space-between !important;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.col {
    flex: 0 0 100%;
    padding: 15px;
    min-width: 0;
    max-width: 100%;
}
.col-12 {
    flex: 0 0 100%;
    padding: 15px;
    min-width: 0;
    max-width: 100%;
}

.col-8 {
    flex: 0 0 66.66%;
    padding: 15px;
    min-width: 0;
    max-width: 66.66%;
}

.col-4 {
    flex: 0 0 33.33%;
    padding: 15px;
    min-width: 0;
    max-width: 33.33%;
}

@media (min-width: 576px) {
    .col {
        flex: 0 0 100%;
        max-width: 100%;
    }
   
}
@media (max-width:576px){
    .col-sm-12{
        flex: 0 0 100%;
        max-width: 100%;
    }

    .sm-order-1 {
        order: 1;
    }
    .sm-order-2 {
        order: 2;
    }
}
@media (min-width: 768px) {
    .col {
        flex: 0 0 50%;
        max-width: 50%;
    }
}

@media (min-width: 992px) {
    .col {
        flex: 0 0 25%;
        max-width: 25%;
    }
}
 
/* Image Class*/
.img-fluid {
    max-width: 100%;
    height: auto;
}

/* Text Class */
.text-center {
    text-align: center;
}
.font-weight-bold{
    font-weight: bold;
}

/* Width Class */
.w-80 {
    width: 80% !important;
}


/* Margin Class */
.mt-1 {
    margin-top: 5px;
}

.mt-2 {
    margin-top: 10px;
}

.mt-3 {
    margin-top: 15px;
}

.mt-4 {
    margin-top: 20px;
}

.mt-5 {
    margin-top: 25px;
}

.ml-1{
    margin-left: 5px;
}
.ml-2{
    margin-left: 10px;
}